.about-header{
    height: 100%;
}

.widget{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.text_about{
    background-color: var(--color-primary);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    color: var(--color-white);
}

.titre-about{
    text-align: center;
    text-decoration: underline;
}
