.dbeaver{
    width: 30%;
    height: auto;
}

.image{
    text-align: center;
}

.AppImages{
    width: 100%;
}

.AppImage{
    width:22%;
    height: auto;
    padding: 1.25rem;
    display: inline-block;
    text-align: center;
}